[Unit]
Description=Nomad
Documentation=https://www.nomadproject.io/docs/
Wants=network-online.target
After=network-online.target

{% if nomad_systemd_wants_consul is truthy %}
Wants=consul.service
After=consul.service
{% endif %}

[Service]

# Nomad server should be run as the nomad user. Nomad clients
# should be run as root
User={{ 'nomad' if nomad_server is truthy else 'root' }}
Group={{ 'nomad' if nomad_server is truthy else 'root' }}

ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/nomad agent -config=/usr/local/etc/nomad.d
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2

TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
